{% extends 'components/Pages.html' %} {% block header %}
<header class="hero">
  <nav
    class="nav container container--hero d-flex justify-content-between align-items-center"
  >
    <!-- Menú de navegación -->
    <ul class="nav">
      <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Disabled</a></li>
      <!-- Ícono del carrito de compras -->
    </ul>
    <form class="d-flex">
      <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>

        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </form>
  </nav>
</header>

{%endblock %} {% block hero %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Plantas</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Descriipcion de las plantas ..
      </p>
    </div>
  </div>
</header>
{% endblock %} {% block catalogo %}

<div class="container py-5">
  <div class="row justify-content-center">
    <!-- Usar row para alinear horizontalmente -->

    <div class="col-md-5">
      <!-- Ajusta el tamaño de la columna según sea necesario -->
      <a
        href="{% url 'Main:product_list' %}"
        style="text-decoration: none; color: inherit"
      >
        <!-- Enlace a la URL de detalle -->
        <div
          class="card text-center py-5 mt-5"
          style="background: #2cb5a0; border: 4px solid #7cdacc"
        >
          <div
            class="user-picture rounded-circle border"
            style="overflow: hidden; width: 5rem; height: 5rem; margin: auto"
          >
            <svg
              viewBox="0 0 448 512"
              xmlns="http://www.w3.org/2000/svg"
              style="width: 2.5rem; fill: #fff"
            >
              <path
                d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
              ></path>
            </svg>
          </div>
          <p
            class="name-client mt-3 mb-1 fw-bold"
            style="font-size: 18px; color: #fff"
          >
            CATALOGO 1
            <span class="d-block fw-light" style="font-size: 16px"
              >no se que poner</span
            >
          </p>
        </div>
      </a>
    </div>

    <div class="col-md-5">
      <!-- Ajusta el tamaño de la columna según sea necesario -->
      <div
        class="card text-center py-5 mt-5"
        style="background: #2cb5a0; border: 4px solid #7cdacc"
      >
        <div
          class="user-picture rounded-circle border"
          style="overflow: hidden; width: 5rem; height: 5rem; margin: auto"
        >
          <svg
            viewBox="0 0 448 512"
            xmlns="http://www.w3.org/2000/svg"
            style="width: 2.5rem; fill: #fff"
          >
            <path
              d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
            ></path>
          </svg>
        </div>
        <p
          class="name-client mt-3 mb-1 fw-bold"
          style="font-size: 18px; color: #fff"
        >
          CATALOGO 2
          <span class="d-block fw-light" style="font-size: 16px"
            >no se que poner</span
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock%} {% block benefits %} {% endblock%} {% block sponsor %}
{%endblock%} {% block statistics %} {% endblock%} {% block footer %}
{%endblock%}
