.card {
  width: 18rem;
  margin: auto;
  border-radius: 1rem;
}

.name-client {
  font-size: 18px;
}

.user-picture {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-social {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
}

.social-media a:hover .tooltip-social {
  display: block;
}
